<section>
  {{#each model as |challenge|}}
  <div>
    <div>Name: {{challenge.name}}</div>
    <div>Description: {{challenge.description}}</div>
    <div>Length: {{challenge.length}}</div>
  </div>
  {{/each}}
</section>